/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    touch-action: manipulation;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

label.wide {
    display: block;
    width: 100%;
}
button.wide {
    width: 100%;
}
.collection a.collection-item {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom-width: 0px;
}
label {
    color: black;
}

.input-field label {
    color: black;
    /* font-weight: bold; */
}
.my-container {
    padding-left: 20px;
    padding-right: 20px;
}

.carousel {
    height: 250px;
}